{% extends 'myapp/base.html' %} {% load static %} {% block title %}Home{% endblock title %} {% block content %}

<h2 class="text-center mt-1 mb-2">

    Explore Our Cloud Services</h2>
<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

        <div class="col-md-4 mb-4">

            <div class="card">
                <img src="{% static 'images/aws_icon.jpg' %}" class="card-img-top p-3" alt="Cloud Icon">
                <h5 class="text-center card-title">AWS Cloud</h5>
                <div class="card-overlay">
                    <h5 class="text-center card-title">AWS Cloud Automation</h5>

                    <p class="card-text">Experience seamless deployment with our AWS Cloud Automated Service. With just a single click, you can deploy multiple services.</p>
                    <div class="automation-services">
                        <h6>Available Services for Automation:</h6>
                        <div class="services">
                            <div>EC2</div>
                            <div>VPC</div>
                            <div>Subnet</div>
                        </div>
                    </div>
                    <div class="text-center mt-1">
                        <a href="{% url 'aws' %}" class="btn btn-primary">Explore</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/azure_icon.png' %}" class="card-img-top p-3" alt="Cloud Icon">
                <h5 class="text-center card-title">Azure Cloud</h5>
                <div class="card-overlay">
                    <h5 class="text-center card-title">Azure Cloud Automation</h5>
                    <p class="card-text">Streamline your cloud deployment process with our Azure Cloud Automated Service. With a single click, you can initiate the deployment of multiple services</p>
                    <div class="automation-services">
                        <h6>Available Services for Automation:</h6>
                        <div class="services">
                            <div>EC2</div>
                            <div>VPC</div>
                            <div>Subnet</div>
                        </div>
                    </div>
                    <div class="text-center mt-1">
                        <a href="{% url 'azure' %}" class="btn btn-primary">Explore</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/vmware_icon.png' %}" class="card-img-top p-3" alt="Cloud Icon">
                <h5 class="text-center card-title">VMware Cloud</h5>
                <div class="card-overlay">
                    <h5 class="text-center card-title">VMware Cloud Automation</h5>
                    <p class="card-text">Accelerate your cloud journey with our VMware Cloud Automated Service. By automating deployment tasks, we make it effortless to provision multiple services</p>
                    <div class="automation-services">
                        <h6>Available Services for Automation:</h6>
                        <div class="services">
                            <div>EC2</div>
                            <div>VPC</div>
                            <div>Subnet</div>
                        </div>
                    </div>
                    <div class="text-center mt-1">
                        <a href="{% url 'vmware' %}" class="btn btn-primary">Explore</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/gcp.png' %}" class="card-img-top p-3" alt="Cloud Icon">
                <h5 class="text-center card-title">Google Cloud Platform</h5>
                <div class="card-overlay">
                    <h5 class="text-center card-title">Google Cloud Platform Automation</h5>
                    <p class="card-text">Empower your projects with our GCP Automated Service, designed to simplify deployment on Google Cloud Platform.
                        <div class="automation-services">
                            <h6>Available Services for Automation:</h6>
                            <div class="services">
                                <div>EC2</div>
                                <div>VPC</div>
                                <div>Subnet</div>
                            </div>
                        </div>
                        <div class="text-center mt-1">
                            <a href="{% url 'gcp' %}" class="btn btn-primary">Explore</a>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/path/to/cloud-icon.png" class="card-img-top p-3" alt="Cloud Icon">
                <h5 class="text-center card-title">Cloud Service</h5>
                <div class="card-overlay">
                    <h5 class="text-center card-title">Cloud Service Automation</h5>
                    <p class="card-text">Description of the cloud service goes here.</p>
                    <div class="automation-services">
                        <h6>Available Services for Automation:</h6>
                        <div class="services">
                            <div>EC2</div>
                            <div>VPC</div>
                            <div>Subnet</div>
                        </div>
                    </div>
                    <div class="text-center mt-1">
                        <a href="#" class="btn btn-primary">Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock content%}